body {
	font-family: $sans;
}

.background-cover {
	background-color: $black;
}

// Headings
h4.widget-top
.page-title,
.entry-title,
p.post-meta {
	font-family: 'Allerta Stencil';
	a {
		font-family: 'Allerta Stencil';
	}
}

.entry {
	h1,
	h2,
	h3 {
		font-family: 'Oswald';
	}
}

header  {
	background: $black;
	box-shadow: none;
}

h2#site-title a  {
	color: $white;
	text-transform: uppercase;
}

.logo span  {
	color: $white;
}

#main-nav ul li a:hover  {
	border-top: 1px solid $red;
}

#menu-primary-navigation {
	padding-top: 0;
	margin-top: 0;
}

#main-nav {
	ul {
		li,
		ul {
			a {
				color: $white !important;
			}
		}
	}
}

#filters {
	li {
		background: $white;
		padding: 6px 6px;
		margin-bottom: 5px;
		a {
			padding: 6px;
			font-family: $sans;
			color: $black;
			font-size: 16px;
			line-height: inherit;
		}

		&.current,
		&:hover {
			background: $black;
			padding: 6px 8px;
		}
	}

	li.current a,
	li:hover a {
		
		font-family: $sans !important;
		font-style: normal;
		color: $white;
		border-radius: 0;
	}
}

.post-footer {
	margin-bottom: 0;
	// padding-bottom: 0 !important;
}

#load-more:link,
#load-more:visited  {
	background: $black;
	box-shadow: none;
	border-radius: 0;
	color: $white;
	text-transform: uppercase;
} 

footer,
.footer-bottom  {
	background: $black;
	a {
		color: $white !important;;
	}
}


