// -----------------------------------------------------------------------------
// This file contains all styles related to media components.
// -----------------------------------------------------------------------------

.featured-media { 
    position: relative; 
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
} 

.featured-media iframe,
.featured-media object,
.featured-media embed { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}